name: Release

on:
  push:
    tags:
      - v*
  workflow_dispatch:
    inputs:
      custom_tags:
        description: '自定义 Docker 镜像标签 (用逗号分隔多个标签，例如: v2.0.0,latest)'
        required: false
        default: ''
        type: string

env:
  IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/bili-sync

jobs:
  build-binary:
    uses: ./.github/workflows/build-binary.yaml

  github-release:
    name: Create GitHub Release
    needs: build-binary
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Download release artifacts
        uses: actions/download-artifact@v4
        with:
          merge-multiple: true
      - name: Publish GitHub release
        uses: softprops/action-gh-release@v2
        with:
          files: bili-sync-rs*
          tag_name: ${{ github.ref_name }}
          draft: true

  docker-release:
    name: Build and Push Docker Image
    needs: build-binary
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Download Linux x86_64 binary
        uses: actions/download-artifact@v4
        with:
          name: bili-sync-rs-Linux-x86_64
          path: ./
      - name: Download Linux ARM64 binary
        uses: actions/download-artifact@v4
        with:
          name: bili-sync-rs-Linux-aarch64
          path: ./
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=raw,value=${{ github.ref_name }}
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha, scope=${{ github.workflow }}
          cache-to: type=gha, scope=${{ github.workflow }}
      - name: Update DockerHub description
        uses: peter-evans/dockerhub-description@v3
        continue-on-error: true
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ env.IMAGE_NAME }}
